.list-unstyled{
    list-style: none;
    line-height: 27px;
    padding-top: 10px;
}
.head{
    padding-top: 30px;
    font-size: x-large;
    font-weight: 400;
}
.footerAddress{
    margin-left: 15%;
    margin-right: 10%;
}

