.copyright{
    font-size: 14px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
    background: linear-gradient(59deg, #293135, #262161);
    color: white;
    height: auto;
    text-align: center;
  
}
