.contentText .bdr p{
    padding: 1rem 0rem 1rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #eee;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
    border-left-color: #f0ad4e !important;
    text-align: initial;
    margin-right: 25px;
}