
.list-unstyled i{
    line-height: 27px;
}
.list-unstyled a{
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
    line-height: 30px;
    text-decoration: none;
}
.list-unstyled a:hover{
    color: rgb(0, 153, 255);
} 
.midfoot{
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: 8%;
}